.game-field {
    position: relative;
    margin: 70px auto;
    /*width: 800px;*/
    /*height: 800px;*/
    background-color: darkgreen;
    background-size: cover;
}

.character, .owned-character {
    position: absolute;
    background-size: cover;
    aspect-ratio: 1;
    padding: 2%;
}
