footer{
    background-color: black;
    height: 270px;
    width: 100%;
    margin-top: 200px;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
}

.footer__contacts-wrapper {
    margin:auto;
    width: 597px;
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__contacts__contact-icon {
    width: 60px;
    aspect-ratio: 1;
}
